/*--------------------------------------------------------------
x.0 Mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
x.0 Tab & Content Area Structure
--------------------------------------------------------------*/
.ng-settings-buttons {
  clear: both;
  margin: 20px 0;
  overflow: hidden; }
  .ng-settings-buttons p {
    float: left;
    margin: 0;
    padding: 0; }
    .ng-settings-buttons p.submit {
      margin-right: 5px; }

/*--------------------------------------------------------------
x.0 Input Fields
--------------------------------------------------------------*/
#ng-settings-panel .form-table th {
  width: 300px; }
  #ng-settings-panel .form-table th .desc {
    color: #5C5C5C;
    display: block;
    font-size: 13px;
    font-weight: normal;
    margin-top: 5px; }

.desc {
  display: block;
  margin-bottom: 5px; }

.ng-hide {
  display: none !important; }

/*--------------------------------------------------------------
x.0 Border
--------------------------------------------------------------*/
.ng-border-field-wrap {
  clear: both;
  overflow: hidden; }
  .ng-border-field-wrap label {
    color: #797979;
    display: block;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase; }
  .ng-border-field-wrap select {
    display: block;
    width: 100%; }
  .ng-border-field-wrap > div {
    float: left;
    margin: 0 10px 0 0; }

/*--------------------------------------------------------------
x.0 Switch
--------------------------------------------------------------*/
.ng-enable,
.ng-disable {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
  display: block;
  font-weight: bold;
  float: left; }
  .ng-enable.selected,
  .ng-disable.selected {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.08);
    color: white; }
  .ng-enable span,
  .ng-disable span {
    display: block;
    padding: 10px; }

.ng-enable {
  border-right: none;
  border-radius: 3px 0 0 3px; }
  .ng-enable.selected {
    background-color: #64BB75; }

.ng-disable {
  border-left: none;
  border-radius: 0 3px 3px 0; }
  .ng-disable.selected {
    background-color: #646464; }

/*--------------------------------------------------------------
x.0 Sortable Blocks
--------------------------------------------------------------*/
.sorter {
  clear: both; }
  .sorter h3 {
    text-align: center;
    text-transform: capitalize; }
  .sorter ul {
    background: #ffffff;
    border: 1px solid #f4f4f4;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 5px 6px -6px rgba(0, 0, 0, 0.05);
    float: left;
    margin: 0 15px 0 0;
    padding: 10px;
    width: 250px; }
    .sorter ul li {
      background: #f1f1f1;
      box-sizing: border-box;
      cursor: move;
      margin-top: 10px;
      padding: 5px 10px;
      position: relative;
      text-align: center; }
      .sorter ul li button {
        background: none;
        border: none;
        color: #b6b6b6;
        cursor: pointer;
        font-size: 85%;
        margin-top: 5px;
        padding: 2px 12px; }
      .sorter ul li:hover button {
        background: #2ea2cc;
        color: white; }
      .sorter ul li:first-child {
        margin: 0; }
      .sorter ul li.placeholder {
        background: none;
        border: 1px dashed #fff;
        height: 54px; }
      .sorter ul li:before {
        color: rgba(155, 155, 155, 0.3);
        content: "\f156";
        font-family: 'dashicons';
        position: absolute;
        top: 0;
        left: 5px; }
    .sorter ul#social_sites_disabled {
      background: #fafafa; }
      .sorter ul#social_sites_disabled li {
        background: rgba(155, 155, 155, 0.05); }
        .sorter ul#social_sites_disabled li.placeholder {
          border-color: #d0d0d0; }

/*# sourceMappingURL=style.css.map */
